*{
    font-family: Arial;
}

h2 {
    padding: 10px;
    margin-bottom: 0;
    text-align: center;
    font-weight: lighter;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;

    /* Form outline */
    padding: 15px;
    border: 1px solid #ccc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    padding: 8px 12px;
    margin: 8px auto;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.space_between{
    display: flex;
    justify-content: space-between;
}

.column{
    display: flex;
    justify-content: column;
}

label.left{
    margin: 8px; 
    float: left;
    font-size: 12px;
    font-weight: bolder;
}

label.right{
    float: right;
    width: 280px;
    font-size: x-small;
    font-weight: lighter;
}

button, span.smallButton{
    background-color: dodgerblue;
    border: none;
    color: white;
    display:inline-block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}

#register {
    background-color: dodgerblue;
    padding: 10px 60px;
    margin: 12px;
}

#signin {
    background-color: #4CAF50;
    padding: 10px 60px;
    margin: 12px;
}