*{
    font-family: Arial;
}

h2 {
    padding: 10px;
    margin-bottom: 0;
    text-align: center;
    font-weight: lighter;
}

form {
    /* Center the form on the page */
    margin: 30px auto;
    width: 400px;

    /* Form outline */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;

    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    padding: 8px 12px;
    margin: 8px auto;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="tel"], input[type="email"] {
    width: 85%;
}


a {
    text-decoration: none;
}

.space_between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label.left{
    margin-left: 18px;
    margin-top: 8px;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bolder;
}

label.right{
    float: right;
    text-align: left;
    width: 280px;
    font-size: x-small;
    font-weight: lighter;
}

button, span.smallButton{
    background-color: dodgerblue;
    border: none;
    color: white;
    display:inline-block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}

#register {
    background-color: dodgerblue;
    padding: 10px 60px;
    margin: 12px;
}

#signin {
    background-color: #4CAF50;
    padding: 10px 60px;
    margin: 12px;
}